body {
    font-family: Arial;
    font-size: 16px;
    padding: 20px;
    background: #eeeeee;
}


h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
    margin-top: 40px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 18px;
}

header {
    background: #333;
}

    header nav a {
        display: inline-block;
        color: white;
        text-align: center;
        padding: 12px 10px;
        text-decoration: none;
    }

.active {
    background: #985656;
    color: white;
}

main a {
    text-decoration: none;
}

main img:hover {
    opacity: 0.9;
}
p {
    margin-right: 500px
}
